<% @questions.each do |question| %>
    <div class="card mx-3 mb-3">
      <div class="card-body">
        <%= question.title %>
        <p>
          <%= link_to "Show this question", question, class: 'btn btn-success' %>
        </p>
      </div>
    </div>
<% end %>


