<% @questions.each do |question| %>
    <div class="card mx-3 mb-3">
      <div style="transition: background-color 0.3s;" onmouseover="this.style.backgroundColor='rgba(0, 123, 255, 0.1)'" onmouseout="this.style.backgroundColor='transparent'">

        <div class="card-body">
          <div class="fs"></div>

            <%= link_to "#{question.title}", question, class: 'text-decoration-none fs-4' %>
          <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" class="text-truncate">
            <%= question.text %>
          </div>
        </div>
      </div>
    </div>


<% end %>


