<div class="container my-5">
  <footer class="text-center text-lg-start rounded-5" style="background-color: rgba(248, 249, 251, 1);">
    <div class="text-center text-white p-3 rounded-5" style="background-color: rgba(248, 249, 251, 1);">
      © 2024 Copyright:
      <a class="text-dark">vet-life.com</a>
    </div>
  </footer>
</div>